* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



h1 {
    /*color: #77c2a5;*/
    font-weight: 400;
    padding: 50px 0;
}

ul.breadcrumb {
    margin-left: 50px;
    display: inline-block;
    list-style: none;
    background-color: rgb(249,249,252);
}
ul.breadcrumb li {
    padding: 5px;
    /*background-color: #59A386;*/
    background-color: rgb(249,249,252);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    /*margin-top: 3px;*/
    margin-top: -50px;
}
ul.breadcrumb li a {
    overflow: hidden;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
    height: 50px;
    color: white;
    background-color: darkgray;
    text-align: center;
    min-width: 50px;
    display: block;
    line-height: 50px;
    padding-top: 52px;
    padding-bottom: 33.33333px;
    width: 50px;
}



ul.breadcrumb li a .icon {
    display: inline-block;
}
ul.breadcrumb li a .text {
    display: none;
    opacity: 0;
}
ul.breadcrumb li a:hover {
    height: 150px;
    background-color:dodgerblue;
}
ul.breadcrumb li a:hover .text {
    display: inline-block;
    opacity: 1;
}
ul.breadcrumb li:first-child a {
  padding: 0;
}
/*ul.breadcrumb li:first-child:hover {
    padding: 3px;
    margin-top: 0;
}
ul.breadcrumb li:first-child:hover a {
    width: 60px;
    height: 60px;
    line-height: 60px;
}*/
