body{
    background-color: rgb(249,249,252);
    font-size: 1.8em;
}

.header{
    /*background-color: rgb(24,24,35);*/
    background-color: dodgerblue;
    width: 100%;
    height: 65px;
    z-index: 9999;
    color: white;

}

.header-fixed{
    position: fixed;
    /*top: 0;*/
}

.header-title{
    width: 100%;
    background-color: white;
    height: 65px;
}

.header-bottom-line{
    border-bottom-color: dodgerblue;
    border-bottom-style: solid;
    height: 53px;
}

.button-panel{
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 25px;
}

.panel{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 25px;
}

.panel-title{
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 0;
    color: #595d6e;
}

.panel-desc{
    font-size: 1.8rem;
    display: inline-block;
    margin-top: .2rem;
    color: #74788d;
}

.panel-desc-flex{
    display: flex;
    justify-content: space-between;
}

.panel-content{
    height: 300px;
    margin-top: 20px;
}



.main-content{
    display: flex;
    /*align-items: center;*/
    margin-top: 80px;
}

.main-content-station{
    display: flex;
    /*align-items: center;*/
    margin-top: 60px;
}

.station-query{
    display: flex;
    justify-content:flex-start;
    padding: 10px;
}

.home-item-panel{
    text-align : center;
}

.home-item-image{
    object-fit: cover;
    width: 90%;
    margin: 0 auto;
}


.home-item-desc{
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 2em;
}

.home-item-desc-green{
    background-color:rgb(159,206,99);
}

.home-item-desc-blue{
    background-color:rgb(98,141,207);
}

.home-item-desc-orange{
    background-color:rgb(246,194,67);
}


.iChart {
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: baseline;
}

.iChart.chart--pink {
    background-color: #f6a39f;
}

.iChart.chart--orange {
    background-color: #eda124;
}

.iChart.chart--dodgerBlue {
    background-color: #559dff;
}

.iChart.chart--beige {
    background-color: #FBE7A3;
}

.iChart.chart--purple {
    background-color: #9e65eb;
}

.iChart.chart--green {
    background-color: #61c26f;
}

.iChart.chart--mustard {
    background-color: #e8ca03;
}

.direct-station{
    width: 20px;
    height: 100%;
    background-color: #559dff;
    float: left;
    text-align: center;
    color: aliceblue;
    margin-right: 10px;
}

.join-station{
    width: 20px;
    height: 100%;
    background-color: #61c26f;
    float: left;
    text-align: center;
    color: aliceblue;
    margin-right: 10px;
}

label.switch {
    text-align: left;
    width: 40px;
    height: calc(40px / 2);
    border-radius:20px;
    background-color:#4ed164;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: -5px;
}

label.switch > span {
    display: block;
    width: 100%;
    height: 100%;
}

label.switch > input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

label.switch > span:before, label.switch > span:after {
    content: "";
    cursor: pointer;
    position: absolute;
}
    /*
label.switch > input[type="checkbox"]:focus ~ span {
    box-shadow: 0 0 0 4px #43b556;
}
    */
label.switch > input[type="checkbox"]:checked:focus ~ span {
    box-shadow: 0 0 0 4px #fff;
}

label.switch > span {
    border-radius: 20px;
}

label.switch > span:before {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: orange;
    border-radius: 20px;
    transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
    transform: scale(1);
    opacity: 1;
}

label.switch > span:after{
    top: 50%;
    z-index: 3;
    transition: transform .4s cubic-bezier(0.44,-0.12, 0.07, 1.15);
    width: calc(40px / 2);
    height: calc(40px / 2);
    transform: translate3d(0, -50%, 0);
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

label.switch > input[type="checkbox"]:checked ~ span:before {
    transform: scale(0);
    opacity: .7;
}

label.switch > input[type="checkbox"]:checked ~ span:after {
    transform: translate3d(100%, -50%, 0);
}

.card-type-panel{
    font-size: 1.5em;
    background-color: white;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.card-type-panel-active{
    background-color: orange;
}

.card-type-dash{
    font-size: 1.5em;
    background-color: white;
    width: 2px;
    height: 100px;
    border-left-style: dot-dash;
    border-left-width: thick;

}
