.ribbon-wrap{
    width: 106px;
    height: 108px;
    overflow: hidden;
    /* 當超過width和height的大小就隱藏 */

    position: absolute;
    top: -9px;
    left: 8px;
}
.ribbon {
    position: relative;
    left: -33px;
    top: 26px;
    width: 148px;
    background-color: #FB8C00;
    color: white;
    padding: 5px 0;
    text-align: center;
    transform: rotate(-45deg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ribbon:before {
    content: "";
    border-top: 4px solid #795548;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    bottom: -4px;
    left: 0;
}
.ribbon:after {
    content: "";
    border-top: 4px solid #795548;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    bottom: -4px;
    right: 0;
}
