﻿@using CPC.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "車隊卡統計資訊";
}
@section menu {
    <div style="float: right; display: flex;align-items: center">
        <div>統計範圍：全單位</div>
        <a href="#search_box" class="btn" id="search" style="color: dodgerblue">&#9740;</a>
    </div>
    <nav id="menu" class="menu">
        <ul class="dropdown">
            <li>
                <a href="#recent" title="Link">近期加油情形與餘額</a>
            </li>
            <li>
                <a href="#single" title="Link">單一車號加油情形</a>
            </li>
            <li>
                <a href="#trend" title="Link">加油趨勢</a>
            </li>
            <li>
                <a href="#distributed" title="Link">縣市加油分佈情形</a>
            </li>
        </ul>
    </nav>
    <form class="search_box" id="search_box" action="/search/" style="display: flex;justify-content: center">
        <div style="display: flex;justify-content: center; align-items: center">
            <div>請選擇統計全單位或轄下結帳單位：</div>
            <div style="display: flex;justify-content: center; ">
                <select>
                    <option>全單位</option>
                    <option>北部結帳單位</option>
                    <option>中部結帳單位</option>
                    <option>南部結帳單位</option>
                    <option>東部結帳單位</option>
                </select>
                <input class="search_icon" value="確定" type="button" style="margin-left: 5px" onclick="$('#search').click()">
            </div>
        </div>
    </form>
}


<div class="main-content">
    <div style="margin-top: 100px">
        <ul class="breadcrumb" style="display: none">
            <li style="z-index: 10">
                <a href="#">
                    <span class="icon icon-home"></span>
                </a>
            </li>
            <li style="z-index: 9">
                <a href="#">
                    <span class="icon icon-file"></span>
                    <span class="text">摘要</span>
                </a>
            </li>
            <li style="z-index: 8">
                <a href="#">
                    <span class="icon icon-folder-open"></span>
                    <span class="text">單一車號查詢</span>
                </a>
            </li>
            <li style="z-index: 7">
                <a href="#">
                    <span class="icon icon-code"></span>
                    <span class="text">用油趨勢</span>
                </a>
            </li>

        </ul>
    </div>


    <div class="container-fluid">
        <div id="recent" class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="panel">
                    <div class="panel-title">近三個月加油情形</div>
                    <div class="panel-desc panel-desc-flex">
                        <div>
                            <div>近三個月比較情形</div>
                            <div>&nbsp;</div>
                        </div>
                        <div>
                            <div>
                                <div class="el-radio">
                                    <input type="radio" name="radio1" id="2_2" value="option" checked>
                                    <label class="el-radio-style" for="2_2"></label>
                                    <span class="margin-r"><label for="2_2">與去年上個月比較</label></span>
                                </div>
                                <div class="el-radio">
                                    <input type="radio" name="radio1" id="2_3" value="option">
                                    <label class="el-radio-style" for="2_3"></label>
                                    <span class="margin-r"><label for="2_3">與去年同期比較</label></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex;justify-content:center;">
                        <div class="panel-content" id="simplediv" style="width: 50%;">

                        </div>
                        <div class="panel-content" style="width: 50%">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row"><i class="iChart chart--dodgerBlue"></i></th>
                                        <td>
                                            <div style="text-align: left">本月購油額度</div>
                                            <div style="text-align: right;">
                                                $19,013,901元整
                                            </div>
                                            <div style="text-align: right;">
                                                <span>相較於上月</span><div style="float: right;color:red">上漲8%</div>
                                                <div style="width: 15px;height: 15px;float: right">
                                                    <svg fill="red" transform="rotate(180)" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         viewBox="0 0 512.171 512.171" style="enable-background:new 0 0 512.171 512.171;" xml:space="preserve">
                                                    <g>
                                                    <g>
                                                    <path d="M479.046,283.925c-1.664-3.989-5.547-6.592-9.856-6.592H352.305V10.667C352.305,4.779,347.526,0,341.638,0H170.971
                                                                c-5.888,0-10.667,4.779-10.667,10.667v266.667H42.971c-4.309,0-8.192,2.603-9.856,6.571c-1.643,3.989-0.747,8.576,2.304,11.627
                                                                l212.8,213.504c2.005,2.005,4.715,3.136,7.552,3.136s5.547-1.131,7.552-3.115l213.419-213.504
                                                                C479.793,292.501,480.71,287.915,479.046,283.925z" />































































                                                        </g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    </svg>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><i class="iChart chart--dodgerBlue"></i></th>
                                        <td>
                                            <div style="text-align: left">本月購油量</div>
                                            <div style="text-align: right;">
                                                13,901公升
                                            </div>
                                            <div style="text-align: right;">
                                                <span>相較於上月</span><div style="float: right;color:green">下跌8%</div>
                                                <div style="width: 15px;height: 15px;float: right">
                                                    <svg fill="green" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         viewBox="0 0 512.171 512.171" style="enable-background:new 0 0 512.171 512.171;" xml:space="preserve">
                                                    <g>
                                                    <g>
                                                    <path d="M479.046,283.925c-1.664-3.989-5.547-6.592-9.856-6.592H352.305V10.667C352.305,4.779,347.526,0,341.638,0H170.971
                                                                c-5.888,0-10.667,4.779-10.667,10.667v266.667H42.971c-4.309,0-8.192,2.603-9.856,6.571c-1.643,3.989-0.747,8.576,2.304,11.627
                                                                l212.8,213.504c2.005,2.005,4.715,3.136,7.552,3.136s5.547-1.131,7.552-3.115l213.419-213.504
                                                                C479.793,292.501,480.71,287.915,479.046,283.925z" />































































                                                        </g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="panel">
                    <div class="panel-title">本月(截至108年7月2日)購油額度餘額</div>
                    <div class="panel-desc panel-desc-flex">
                        <div>
                            <div>剩餘可用額度：$<SPAN style="color: red;">1,013,901</SPAN>元整</div>
                            <div>餘額百分比：<SPAN style="color: red;">30%</SPAN></div>
                        </div>
                        <div>
                            <div class="el-radio">
                                <input type="radio" name="radio2" id="3_2" value="option" checked>
                                <label class="el-radio-style" for="3_2"></label>
                                <span class="margin-r"><label for="3_2">以購油金額統計</label></span>
                            </div>

                            <div class="el-radio">
                                <input type="radio" name="radio2" id="3_3" value="option">
                                <label class="el-radio-style" for="3_3"></label>
                                <span class="margin-r"><label for="3_3">以購油量統計</label></span>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex;justify-content:center;">
                        <div class="panel-content" id="gaugediv" style="width: 70%">

                        </div>
                        <div class="panel-content" style="width: 30%;">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row"><i class="iChart chart--dodgerBlue"></i></th>
                                        <td>
                                            <div style="text-align: left">本月購油量</div>
                                            <div style="text-align: right;">
                                                8,013,901.66
                                            </div>
                                            <div style="text-align: right;">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-dodgerBlue" role="progressbar"
                                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><i class="iChart chart--beige"></i></th>
                                        <td>
                                            <div style="text-align: left">上月同期購油量</div>
                                            <div style="text-align: right;">
                                                9,013,901.22
                                            </div>
                                            <div style="text-align: right;">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-beige" role="progressbar"
                                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <div id="single" class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="panel">
                    <div class="panel-title">單一車號加油情形</div>
                    <div class="panel-desc panel-desc-flex">
                        <div>
                            查詢近3個月加油量<br>
                            點選月份查看當月加油明細

                            <!-- The Modal -->
                            <div class="modal" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title"></h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <table class="table">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">站點名稱</th>
                                                        <th scope="col">油量</th>
                                                        <th scope="col">地址</th>
                                                        <th scope="col">連結地圖</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>富陽街站</td>
                                                        <td>1,344</td>
                                                        <td>106台北市大安區富陽街129號</td>
                                                        <td><a href="https://www.google.com/maps/?q=25.019241,121.556950" target="_blank">連結地圖</a></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>民生東路站</td>
                                                        <td>2,345</td>
                                                        <td>105台北市松山區三民路126號</td>
                                                        <td><a href="https://www.google.com/maps/?q=25.059992,121.563702" target="_blank">連結地圖</a></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>新生南路站</td>
                                                        <td>4,341</td>
                                                        <td>106台北市大安區仁愛路三段1號</td>
                                                        <td><a href="https://www.google.com/maps/?q=25.0384838,121.530917" target="_blank">連結地圖</a></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">4</th>
                                                        <td>新生南路站</td>
                                                        <td>4,341</td>
                                                        <td>106台北市大安區仁愛路三段1號</td>
                                                        <td><a href="https://www.google.com/maps/?q=25.0384838,121.530917" target="_blank">連結地圖</a></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">5</th>
                                                        <td>新生南路站</td>
                                                        <td>4,341</td>
                                                        <td>106台北市大安區仁愛路三段1號</td>
                                                        <td><a href="https://www.google.com/maps/?q=25.0384838,121.530917" target="_blank">連結地圖</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" style="color:white;" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="el-radio">
                                    <input type="radio" name="radio3" id="4_2" value="option" checked>
                                    <label class="el-radio-style" for="4_2"></label>
                                    <span class="margin-r"><label for="4_2">以購油金額統計</label></span>
                                </div>

                                <div class="el-radio">
                                    <input type="radio" name="radio3" id="4_3" value="option">
                                    <label class="el-radio-style" for="4_3"></label>
                                    <span class="margin-r"><label for="4_3">以購油量統計</label></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="station-query form-group" style="justify-content: center">
                        <div class="form-inline"><label for="carId">車牌號碼：</label><input id="carId" class="form-control" size="10" /></div>
                        <div class="form-inline"><input class="form-control" type="button" value="查詢" /></div>
                    </div>
                    <div id="carchartdiv" style="height: 280px">

                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="panel">
                    <div class="panel-title">本月(截至108年7月2日)油品類別累計油量</div>
                    <div class="panel-desc panel-desc-flex">
                        <div>
                            油品類別當月累計油量<br />
                            點選汽油可展開各種汽油統計情形
                        </div>
                        <div>
                            <div>
                                <div class="el-radio">
                                    <input type="radio" name="radio4" id="5_2" value="option" checked>
                                    <label class="el-radio-style" for="5_2"></label>
                                    <span class="margin-r"><label for="5_2">以購油金額統計</label></span>
                                </div>

                                <div class="el-radio">
                                    <input type="radio" name="radio4" id="5_3" value="option">
                                    <label class="el-radio-style" for="5_3"></label>
                                    <span class="margin-r"><label for="5_3">以購油量統計</label></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="backToPie" style="display: none; color: dodgerblue;position: absolute;top: 110px">
                        返回柴油汽油統計

                    </div>
                    <div id="carsvgchartdiv" style="height: 350px">

                    </div>
                </div>
            </div>
        </div>
        <div id="trend" class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="panel">
                    <div class="panel-title">加油趨勢統計</div>
                    <div class="panel-desc panel-desc-flex">
                        <div>
                            每月加油趨勢統計，請輸入查詢期間
                        </div>
                        <div>
                            <div>
                                <div class="el-radio">
                                    <input type="radio" name="radio4" id="7_2" value="option">
                                    <label class="el-radio-style" for="7_2"></label>
                                    <span class="margin-r"><label for="7_2">以購油金額統計</label></span>
                                </div>

                                <div class="el-radio">
                                    <input type="radio" name="radio4" id="7_3" value="option" checked>
                                    <label class="el-radio-style" for="7_3"></label>
                                    <span class="margin-r"><label for="7_3">以購油量統計</label></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="station-query form-group">
                            <div class="form-inline">
                                <div style="width: 34px;height: 34px;float: left;background-color: rgb(238,238,238);padding: 5px">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 512 512" style="enable-background:new 0 0 16 16;" xml:space="preserve">
                                    <g>
                                    <g>
                                    <path d="M452,40h-24V0h-40v40H124V0H84v40H60C26.916,40,0,66.916,0,100v352c0,33.084,26.916,60,60,60h392
                                                c33.084,0,60-26.916,60-60V100C512,66.916,485.084,40,452,40z M472,452c0,11.028-8.972,20-20,20H60c-11.028,0-20-8.972-20-20V188
                                                h432V452z M472,148H40v-48c0-11.028,8.972-20,20-20h24v40h40V80h264v40h40V80h24c11.028,0,20,8.972,20,20V148z" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="76" y="230" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="156" y="230" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="236" y="230" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="316" y="230" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="396" y="230" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="76" y="310" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="156" y="310" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="236" y="310" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="316" y="310" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="76" y="390" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="156" y="390" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="236" y="390" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="316" y="390" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="396" y="310" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    </svg>
                                </div>
                                <div style="float: left;">
                                    <input id="startDate" type="text" class="form-control" name="startDate" placeholder="開始日期">~
                                </div>
                                <div style="width: 34px;height: 34px;float: left;background-color: rgb(238,238,238);padding: 5px">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 512 512" style="enable-background:new 0 0 16 16;" xml:space="preserve">
                                    <g>
                                    <g>
                                    <path d="M452,40h-24V0h-40v40H124V0H84v40H60C26.916,40,0,66.916,0,100v352c0,33.084,26.916,60,60,60h392
                                                c33.084,0,60-26.916,60-60V100C512,66.916,485.084,40,452,40z M472,452c0,11.028-8.972,20-20,20H60c-11.028,0-20-8.972-20-20V188
                                                h432V452z M472,148H40v-48c0-11.028,8.972-20,20-20h24v40h40V80h264v40h40V80h24c11.028,0,20,8.972,20,20V148z" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="76" y="230" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="156" y="230" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="236" y="230" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="316" y="230" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="396" y="230" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="76" y="310" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="156" y="310" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="236" y="310" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="316" y="310" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="76" y="390" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="156" y="390" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="236" y="390" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="316" y="390" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect x="396" y="310" width="40" height="40" />































































                                        </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    </svg>
                                </div>
                                <div style="float: left;">
                                    <input id="email" type="text" class="form-control" name="email" placeholder="結束日期">
                                </div>
                            </div>
                            <div class="form-inline"><input class="form-control" type="button" value="查詢" /></div>
                        </div>

                    </div>
                    <div class="panel-content" id="chartdiv">

                    </div>
                </div>
            </div>
        </div>

        <div id="distributed" class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="panel">
                    <div class="panel-title">本月(截至108年7月2日)縣市及站點加油情形</div>
                    <div class="panel-desc panel-desc-flex">
                        <div>
                            縣市用油分佈情形，點選縣市後可顯示該區域站點情形

                        </div>
                        <div>
                            <div>
                                <div class="el-radio">
                                    <input type="radio" name="radio5" id="6_2" value="option" checked>
                                    <label class="el-radio-style" for="6_2"></label>
                                    <span class="margin-r"><label for="6_2">以購油金額統計</label></span>
                                </div>

                                <div class="el-radio">
                                    <input type="radio" name="radio5" id="6_3" value="option">
                                    <label class="el-radio-style" for="6_3"></label>
                                    <span class="margin-r"><label for="6_3">以購油量統計</label></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3">
                                <img src="@Url.Content("~/Images/map.png")" style="width: 100%">
                            </div>
                            <div class="col-xl-9 col-lg-9" style="padding: 10px;">
                                <table class="table" style="width: 100%;" id="countyList">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">縣市</th>
                                            <th scope="col">油量</th>
                                            <th scope="col">明細</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>台北市</td>
                                            <td>1,344</td>
                                            <td><a href="#" onclick="event.preventDefault();">查看明細</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>新北市</td>
                                            <td>2,345</td>
                                            <td><a href="#" onclick="event.preventDefault();">查看明細</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>桃園市</td>
                                            <td>4,341</td>
                                            <td><a href="#" onclick="event.preventDefault();">查看明細</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>新竹市</td>
                                            <td>4,341</td>
                                            <td><a href="#" onclick="event.preventDefault();">查看明細</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>台中市</td>
                                            <td>4,341</td>
                                            <td><a href="#" onclick="event.preventDefault();">查看明細</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="backToCountyList" style="display: none; color: dodgerblue">
                                    返回縣市統計清單

                                </div>
                                <table class="table" style="width: 100%;display: none" id="stationList">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">站點名稱</th>
                                            <th scope="col">油量</th>
                                            <th scope="col">地址</th>
                                            <th scope="col">連結地圖</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>富陽街站</td>
                                            <td>1,344</td>
                                            <td>106台北市大安區富陽街129號</td>
                                            <td><a href="https://www.google.com/maps/?q=25.019241,121.556950" target="_blank">連結地圖</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>民生東路站</td>
                                            <td>2,345</td>
                                            <td>105台北市松山區三民路126號</td>
                                            <td><a href="https://www.google.com/maps/?q=25.059992,121.563702" target="_blank">連結地圖</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>新生南路站</td>
                                            <td>4,341</td>
                                            <td>106台北市大安區仁愛路三段1號</td>
                                            <td><a href="https://www.google.com/maps/?q=25.0384838,121.530917" target="_blank">連結地圖</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>新生南路站</td>
                                            <td>4,341</td>
                                            <td>106台北市大安區仁愛路三段1號</td>
                                            <td><a href="https://www.google.com/maps/?q=25.0384838,121.530917" target="_blank">連結地圖</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>新生南路站</td>
                                            <td>4,341</td>
                                            <td>106台北市大安區仁愛路三段1號</td>
                                            <td><a href="https://www.google.com/maps/?q=25.0384838,121.530917" target="_blank">連結地圖</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/amcharts4")
    @Scripts.Render("~/bundles/admin")
}

