﻿@using CPC.Web.Models
@model HomeViewModels
@{
    ViewBag.Title = "首頁";
}

<div class="main-content">


    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-lg-9">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <div class="panel">
                            <img class="home-item-image" src="@Url.Content("~/Images/station.png")" />
                            <div class="home-item-desc home-item-desc-green">
                                @Html.ActionLink("加油點查詢", "Index", "Station")
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="panel">
                            <img class="home-item-image" src="@Url.Content("~/Images/apply.png")" />
                            <div class="home-item-desc home-item-desc-green">
                                車隊卡申辦資訊
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="panel">
                            <img class="home-item-image" src="@Url.Content("~/Images/advantage.png")" />
                            <div class="home-item-desc home-item-desc-green">
                                車隊卡好處多
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="panel">
                            <div class="ribbon-wrap">
                                <div class="ribbon">會員專區</div>
                            </div>
                            @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger", @style= " position: relative;left: 60px;" })
                                <div class="station-query form-group" style="display: flex;justify-content: space-between">
                                    <div class="form-inline" style="padding-left: 30px">
                                        <label for="account">帳號：</label>
                                        @Html.TextBoxFor(m => m.Account, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Account, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-inline">
                                        <label for="password">密碼：</label>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-inline">
                                        <label for="code">驗證碼：</label>
                                        <img src="~/Images/image-code.gif">
                                        <input type="password" id="code" class="form-control" size="10" />
                                    </div>
                                    <div class="form-inline">
                                        <input type="submit" value="登入" class="btn btn-default" />
                                        <input type="reset" name="reset" class="btn" value="清除">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="panel">
                    <div class="ribbon-wrap">
                        <div class="ribbon">最新消息</div>
                    </div>
                    <table class="table" style="margin-top: 45px">
                        <tbody>
                            @foreach (var item in Model.NewsModels)
                            {
                                <tr>
                                    <th scope="row"><i class="iChart chart--dodgerBlue"></i></th>
                                    <td>
                                        <div style="text-align: left">
                                            @Html.DisplayFor(modelItem => item.PublishDate)
                                        </div>
                                        <div style="text-align: left;">
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </div>
                                    </td>
                                </tr>
                            }
                           
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}