﻿@using CPC.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "車隊卡統計資訊";
}
<div class="main-content-station">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="ribbon-wrap">
                    <div class="ribbon">加油站點查詢</div>
                </div>
                <form>
                    <div class="panel" style="padding-left: 40px">
                        <div class="station-query form-group">
                            <div class="form-inline" style="margin-right: 20px"><label for="carId">車牌號碼：</label><input id="carId" class="form-control" size="10" /></div>
                            <div class="form-inline" style="margin-right: 20px"><label for="cardNo">車隊卡號後四碼：</label><input id="cardNo" class="form-control" size="4" /></div>
                            (若您為車隊卡持卡人，可輸入車號及卡號查詢您可加油的站點)
                        </div>
                        <div class="station-query form-group">
                            <div class="form-inline"> 油品類別： </div>
                            <div class="form-inline" style="margin-right: 20px"><input id="oil92" type="checkbox" /><label for="oil92">92無鉛汽油</label></div>
                            <div class="form-inline" style="margin-right: 20px"><input id="oil95" type="checkbox" /><label for="oil95">95無鉛汽油</label></div>
                            <div class="form-inline" style="margin-right: 20px"><input id="oil98" type="checkbox" /><label for="oil98">98無鉛汽油</label></div>
                            <div class="form-inline" style="margin-right: 20px"><input id="diesel" type="checkbox" /><label for="oil98">柴油</label></div>
                        </div>
                        <div class="station-query form-group">

                            <div class="form-inline"> 營業時間： </div>
                            <div class="form-inline" style="margin-right: 20px"><input id="normal" name="" type="checkbox" /><label for="oil92">一般</label></div>
                            <div class="form-inline" style="margin-right: 20px"><input id="hr24" name="" type="checkbox" /><label for="oil95">24小時</label></div>

                            <div class="form-inline" style="margin-left: 120px"> <label for="extent">查詢範圍：</label><input id="extent" class="form-control" size="4" />公里</div>
                            <div class="form-inline" style="margin-left: 50px"><input class="form-control btn btn-info" type="button" value="查詢" /></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <form>
                    <div class="panel">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4">公司名稱：國光客運</div>
                            <div class="col-xl-4 col-lg-4">可使用油品類別：92/95/98/柴油</div>
                            <div class="col-xl-4 col-lg-4">是否還有餘額：是</div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">站點名稱</th>
                            <th scope="col">距離</th>
                            <th scope="col">地址</th>
                            <th scope="col">提供服務</th>
                            <th scope="col">地圖</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>富陽街站</td>
                            <td>1,345公尺</td>
                            <td>106台北市大安區富陽街129號</td>
                            <td>92/95/98/柴油</td>
                            <td><a href="https://www.google.com/maps/?q=25.019241,121.556950" target="_blank">地圖顯示</a></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>民生東路站</td>
                            <td>2,345公尺</td>
                            <td>105台北市松山區三民路126號</td>
                            <td>92/95/98/柴油</td>
                            <td><a href="https://www.google.com/maps/?q=25.059992,121.563702" target="_blank">地圖顯示</a></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>新生南路站</td>
                            <td>4,341公尺</td>
                            <td>106台北市大安區仁愛路三段1號</td>
                            <td>92/95/98/柴油</td>
                            <td><a href="https://www.google.com/maps/?q=25.0384838,121.530917" target="_blank">地圖顯示</a></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>新生南路站</td>
                            <td>4,341公尺</td>
                            <td>106台北市大安區仁愛路三段1號</td>
                            <td>92/95/98/柴油</td>
                            <td><a href="https://www.google.com/maps/?q=25.0384838,121.530917" target="_blank">地圖顯示</a></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>新生南路站</td>
                            <td>4,341公尺</td>
                            <td>106台北市大安區仁愛路三段1號</td>
                            <td>92/95/98/柴油</td>
                            <td><a href="https://www.google.com/maps/?q=25.0384838,121.530917" target="_blank">地圖顯示</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="panel">
                    <img src="/Images/stationmap.png" style="max-width: 100%">
                </div>
            </div>
        </div>
    </div>
</div>
