﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 中油車隊卡入口網</title>
    @Styles.Render("~/Content/css")


</head>
<body>
    <div class="nav_wrapper">
        <!--<a class="menu-link" href="#menu"></a>-->

        <div class="spinner-master">
            <input type="checkbox" id="spinner-form" />
            <label for="spinner-form" class="spinner-spin">
                <div class="spinner diagonal part-1"></div>
                <div class="spinner horizontal"></div>
                <div class="spinner diagonal part-2"></div>
            </label>
        </div>
        <div class="header-icon-mobile" id="header-icon-mobile">
            <img src="@Url.Content("~/Images/com-logo.gif")">
            <img src="@Url.Content("~/Images/name.png")" style="height: 42px;margin-left: 20px">
        </div>
        <div class="header" id="header">
            <div class="header-title" id="header-title" style="display: flex;justify-content: space-between">
                <div>
                    <a href="@Url.Content("~/")">
                        <img src="@Url.Content("~/Images/com-logo.gif")" />
                        <img src="@Url.Content("~/Images/name.png")" style="height: 42px;margin-left: 20px" />
                    </a>
                </div>
                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <!--ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>
                        </!--ul-->
                        <div style="color: black;font-size: larger">
                            <div>@User.Identity.GetUserName() 先生/小姐您好<a href="javascript:document.getElementById('logoutForm').submit()">登出</a></div>
                            <div>公司名稱：XXXX公司</div>
                        </div>
                    }
                }               

            </div>
        </div>
        @RenderSection("menu", required: false)
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 台灣中油股份有限公司 版權所有</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-bundle")
    @Scripts.Render("~/bundles/menu")
    @RenderSection("scripts", required: false)
</body>
</html>
